@charset 'UTF-8';
@import 'assets/css/normalize-8.0.1.css';

*,
*:after,
*:before {
    box-sizing: border-box;
}

/* Fix [img] */
img {max-width: 100%}

/* ----------------------------------------------------- */

/*
    Dynamic
        :link (links) - Link no visitado.
        :visited (links) - Link visitado.
        :hover - Al poner el mouse sobre el elemento.
        :active (links) - El momento del click.
        :focus - Cuando el elemento tiene el foco.
    Target
        :target - Elemento que es objetivo de un marcador o ancla.

    Language
        :lang() - Elemento que contiene el atributo lang que especificamos.

    UI States
        :enabled
        :disabled
        ......

    Structural
        :root
        :nth-child()
        :nth-last-child()
        ......
    
    Negation
        :not()
*/

/* Pseudoclase - Dinamicas */

.link:link { /* :link, cuando el enlace no ha sido visitado*/
    color: olive;
}

.link:visited { /* Cuando el link ha sido visitado, casi no se utiliza por tema de UI */
    color: chocolate;
}

.link:active { /* Se aplica cuando hacemos click, antes de soltar. */
    color:cyan;
    background-color: red;
}

.btn {
    text-decoration: none;
    display: inline-block;
    background-color: red;
    padding: .5em;
    border-radius: 10px;
    color: white;
}

.btn:active { /* Simular que el boton interactua */
    transform: scale(.8); /* Transforma el boton para simular interactividad */
}

.btn:hover { /* hover es utilizado para cuando el raton se pone encima, se puede poner en cualquier elemento */
    color:red;
    background-color: white;
}

.input-t:focus { /* Cuando estamos en el elemento */
    background-color: green;
}

/* target */
.enlace-2 {
    background-color: lightblue;
    display: block;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.text-2 {
    margin-top: 500px;
    margin-bottom: 500px;
}

.text-2:target {
    padding-top: 55px;
    background-color: gold;
}

/* lang */
.span {
    display: block;
}

.span:lang(es) {
    color: red;
}