@charset 'UTF-8';
@import 'assets/css/normalize-8.0.1.css';

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FIX [img] */
img {max-width: 100%}

/* ---------------------------------------------------------- */

.box1 {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    margin: 1em 2em 3em 4em; /* Se separa 1em en todas las direcciones. */
    margin-top: 1em;
    margin-right: 2em;
    margin-bottom: 3em;
    margin-left: 4em;
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: lightcoral;
    border: 2px solid blue;
    padding: 1em 2em 3em 4em;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 3em;
    padding-left: 4em;
}

.box2-content {
    width: 20px;
    height: 20px;
    background-color: yellow;
    border: 2px solid red;
}